*                   { margin: 0px; padding: 0px;}

body                { font: Georgia, serif;}

#page-wrap          { margin: 2% auto; color: white; background: #505050;}
#page-wrap > .main  { border: 1px solid #999; padding: 1%;
                      margin-bottom: 1px; color: black;}

section > div       { padding: 20px;}
header 				{ padding: 1%; text-align: center; background: #00B7FF;} 

nav, section, footer   { background: #eee; text-align: center; padding: 1%;}
nav 				{ padding: 0.5%; background: #808080; } 

nav span            { margin: 0px 10px 0px 0px;}
footer 				{ background: #505050; }
footer a            { margin: 0px 10px 0px 0px; color:#FFFFFF;}
a 					{ text-decoration: none; color: #505050; } 

/*a:hover				{ font-size: large; font-weight: bold; }

a:active			{ text-decoration: ;} 
*/
#ErrorMsgs			{ color: #f61; font-size: smaler;}

.right				{ float: right; padding: 5px; border-radius: 10%; background-color: #999; co: #505050;}
